{% extends 'base.html' %}
{% load static %}
{% block Title %}Login Page{% endblock Title %}
{% block meallink %}
              <li class="dropdown"><a class="nav-link scrollto" href="{% url 'Meals' %}"><span>Meals</span> <i class="bi bi-chevron-down"></i></a>
{% endblock meallink %}
{% block contect %}
  {% block Banner %}
  <!-- ======= Banner Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      {% block Welcome %}
      <h1>Welcome to Catering Services Login Page</h1>
      <h3 style="color:rgb(250, 28, 28)">{% if messages %}
        {% for messag in messages %}
        {{messag}}
        {% endfor %}
      </h3>
     {% endif %}
        <h2 class="sent-messages {{message.tags}}" style="color:rgb(253, 255, 255)">
        Only Admin can login<br/>
        <a class="nav-link scrollto" href="#con"><b style=color:#ffc451>SCROLL DROWN TO LOGIN</b></a> </h2>
      {% endblock Welcome %}
    </div>
  </section>
  <!-- End Banner -->
  {% endblock Banner %}
 <!-- ======= Form Section ======= -->
  <section id="con" class="con">
    <form action="{% url 'Adminlog' %}" method="post">
        {% comment %} {% comment %} {% csrf_token %} {% endcomment %} {% endcomment %}
        <input type="hidden" name="log" value="{{ request.path }}">
        <div class="title">
            <h2>Login Page</h2>
        </div>
        <div class="content">
            <div class="group">
                <label for="">User Name:</label>
                <input class="input" type="text" name="username" required placeholder="Enter Your user Name">
            </div>
            <div class="group">
                <label for="">Password:</label>
                <input class="input" type="password" name="password" required placeholder="Enter Your Password">
            </div>
        </div>
        <div class="footer">
            <input  type="submit" value="submit">
        </div>
    </form>
</section>
 <!-- End Banner -->
{% endblock %}z