{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block Title %} {% endblock %}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="{% static 'assets/img/catering Logo.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  
  
    <!-- =======================================================
    * Template Name: CATERING SERVICES - v4.7.0
    * Template URL: https://bootstrapmade.com/CATERING SERVICES-free-multipurpose-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>
<body>
    {% if messages %}
    {% for msg in messages %}
     <div class="sent-messages"><h2>{{msg}}</h2></div>
    {% endfor %}
    {% endif %}

  <!-- ======= Header ======= -->
  {% block login %}
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">
      <div class="logo">
        <h1 class="text-light"><a href="/admin/"><img src="{% static 'assets/img/catering Logo.png' %}" alt="" class="img-fluid"></a><a href="{% url 'Adminlog' %}">CATERING SERVICES</a></h1>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'Index' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'members' %}">Members Names</a></li>
          {% block meallink %}
          {% endblock meallink %}
            <ul>
              <li><a href="{% url 'Meals' %}" class="btn-get-started scrollto" style=text-align:center>BREAKFAST</a></li>
              <li><a href="{% url 'Meals' %}" class="btn-get-started scrollto" style=text-align:center>LUNCH</a></li>
              <li><a href="{% url 'Meals' %}" class="btn-get-started scrollto" style=text-align:center>DINNER</a></li>
             </ul>
            </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#team"><span>Category</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
               <li><a href="{% url 'Food' %}" class="btn-get-started scrollto" style=text-align:center>FOOD</a></li>
               <li><a href="{% url 'Drinks' %}" class="btn-get-started scrollto" style=text-align:center>DRINKS</a></li>
               <li><a href="{% url 'Sandwich' %}" class="btn-get-started scrollto" style=text-align:center>SANDWICH</a></li>
               <li><a href="{% url 'Snacks' %}" class="btn-get-started scrollto" style=text-align:center>SNACKS</a></li>
             </ul>           </li>
          <li><a class="nav-link scrollto" href="{% url 'Reservation' %}">Reservation</a></li>
          <li><a class="nav-link scrollto" href="{% url 'Order' %}">Order</a></li>
          <li><a class="nav-link scrollto" href="{% url 'Contact' %}">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header>
  {% endblock login %}
  <!-- End Header -->
    {% block contect %}
    {% block Banner %}
    {% block Welcome %}

    {% endblock Welcome %}
    {% endblock Banner  %}
    {% endblock contect %}
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>CATERING SERVICES</h3>
            <p>We serve your clint(customer) at the best way that we can to satisfy thier needs. We are always pround of our clients, You can Subscribe to us, Thanks</p>
          </div>
        </div>
        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="{% url 'Newsletter' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="News" value="{{ request.path }}">
              <input type="email" name="Email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>CATERING SERVICES</span></strong>. All Rights Reserved
       
      </div>
    </div>
  </footer><!-- End Footer -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>