{% load static %}
<div class="section-title">
  <h2>LIST OF ALL ITEMS AVAILABLE </h2>
</div>
<div class="container" data-aos="fade-up">
  <div id="gets" class="gets">
    <a href="{% url 'Food' %}" class="btn-get-started scrollto" style=text-align:center>FOOD</a>
    <a href="{% url 'Drinks' %}" class="btn-get-started scrollto" style=text-align:center>DRINKS</a>
    <a href="{% url 'Sandwich' %}" class="btn-get-started scrollto" style=text-align:center>SANDWICH</a>
    <a href="{% url 'Snacks' %}" class="btn-get-started scrollto" style=text-align:center>SNACKS</a>
  </div>